.heading-font {
    font-family: 'Cormorant Unicase', serif;
}

.message-font {
    font-family: 'Arvo', serif; 
} 
 
#progress-section {
    width: 100%;
    background-color: white;
}
#progress-bar {
    width: 0%; 
    height: 2em;
    background-color: red;
}

body {
    position: absolute;
    height: 100vh;
    width: 100vw; 
    background-image: url("../images/starting_background.jpg"); 
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
 
#main-div {
    background-image: url("../images/gameplay_background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    border-color: black; 
    border-style: groove; 
    border-width: 0.5em;  
}  

#answer-options button:hover {
    transform: scale(1.1); 
}

#image-update { 
    height: 15em;
    width: 30em;  
}
 
     